/*================================
        HEADER CSS STAR
================================*/

.header_part {}

.header_top {
    background: var(--themeColor);
    color: white;
    position: relative;
}
.picker_wrap{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 15%);
}
.picker_wrap div{
    margin: 5px;
}

.header_top_text {
    padding: 0;
    margin: 0;
    padding: 14px 0;
    font-size: 14px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.header_link {
    text-align: end;
}

.header_link a i {

    text-align: center;
    width: 29px;
    height: 29px;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    line-height: 29px;
    margin: 10px 0;
    margin-left: 10px;
    border: 1px solid white;
    transition: all .3s linear;
}

.header_link a i:hover {
    background: var(--btnColor);
    border: 1px solid var(--btnColor);
}

.header {
    padding: 18px 0;
}

.logo {
    margin: 5px 0;
    padding: 10px 0;
}


.header_contact {}

.contact {
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;
    margin: 5px 0;
    margin-left: 37px;
    /*
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
*/
    display: none;
}

.contact_icone {
    font-size: 30px;
    margin-right: 14px;
    text-align: center;
}

.contact_icone i {
    width: 50px;
    height: 50px;
    background: #f5f8ff;
    border-radius: 50%;
    color: var(--btnColor);
    line-height: 50px;
    display: inline-block;
}

.contact_content {
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    color: #666666;
    padding: 9px 0;
    display: inline-block;
}

.contact_content span {
    line-height: 12px;
}
.menu_bar {
    background: #f5f8ff;
    text-align: center;
}

.main_menu {
    background: var(--themeColor);
    color: white;
    /*    height: 50px;*/
}

.main_menu .search_bar {
    position: absolute;
    left: 78.8%;
    top: 0;
    z-index: 999;
}

.menu_search {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 49.9%;
    width: 59%;
    /*    height: 56%;*/
    height: 46%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -100%);
    transition: all .3s linear;
}

.menu_search input {
    width: 100%;
    height: 27px;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    /*    color: red;*/
}

.search_active {
    transform: translate(-50%, 40%);
    opacity: 1;
    visibility: visible;
}



.main_menu .navbar-nav .nav-item .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    padding: 18px 19px;
    position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 5px;
    width: 0px;
    background: white;
    transition: all .3s linear;
}

.main_menu .navbar-nav .nav-item .nav-link:hover:before {
    width: 30px;
}

.main_menu .navbar-nav .nav-item{
    position: relative;
}
.main_menu .navbar-nav .nav-item > .submenu{
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
/*    text-align: left;*/
}
.main_menu .navbar-nav .nav-item:hover > .submenu{
    opacity: 1;
    visibility: visible;
}


.navbar-toggler {
    color: white !important;
    font-size: 31px;
    border: 0;
    padding: 5px 10px;
}

.special_nav {
    margin-right: 54px;
}

.search_bar {
    border: none;
    background: transparent;
    color: white;
    padding: 13px 19px;
}

.navbar-nav {
    margin-top: 0;
    transition: all .3s linear;
}

.menu_hide {
    /*    transform: translateY(100%);*/
    /*    display: none;*/
    opacity: 0;
    visibility: hidden;
    height: 50px;
    transition: all .3s linear;
}

.menu_inactive {
    overflow: hidden;
    display: none;
    transition: all .3s linear;
}


/*================================
        HEADER CSS END
================================*/





















/*================================
        BANNER CSS START
================================*/

.banner_overlay {
    width: 100%;
    height: 100%;
    background: var(--overlayColor);
    color: white;
}

.slider_content {
    padding-bottom: 261px;
    padding-top: 226px;
}

.slider_content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60;
    font-weight: 700;
    /*    margin-top: 226px;*/
    margin-bottom: 22px;
    text-transform: uppercase;
    line-height: 76px;
}

.slider_content .theme_btn {
    color: white;
    border: 2px solid var(--btnColor);
    background: var(--btnColor);
}

.banner_area .slick-dots {
    margin-top: -71px;
    position: absolute;
    left: 9%;
    z-index: 999;
}

.banner_area .slick-dots li {
    display: inline-block;
}

.banner_area .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #f5f5f7;
    background: transparent;
    margin-right: 6px;
    transition: all .3s linear;
}

.banner_area .slick-dots li.slick-active button {
    background: var(--btnColor);
}

/*================================
        BANNER CSS END
================================*/















/*================================
        ABOUT CSS START
================================*/

.about_area {
    padding-top: 123px;
    padding-bottom: 78px;
}

.business_wrap {
    margin-top: -3px;
}

.business {
    position: relative;
    padding-top: 5px;
    padding-bottom: 3px;
    margin: 13px 0;

}

.business:hover .icon {
    background: var(--btnColor);
}

.business .icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: var(--themeColor);
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
    transition: all .3s linear;
}

.business .text {
    box-sizing: border-box;
    /*    background: blue;*/
    width: calc(100% - 50px);
    margin-left: auto;
    padding-left: 32px;
    text-align: justify;

}

.business .text h3 {
    padding-bottom: 21px;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--themeColor);
}

.business .text p {
    line-height: 21px;
}


.devider {
    width: 2px;
    height: 300px;
    background: #eaeaea;
    padding: 150px 1px;
    justify-content: center;
    display: none;
}




.business_help {}

.business_help .text h3 {
    padding-bottom: 21px;
    text-transform: uppercase;
    font-size: 24px;
    color: var(--themeColor);
}

.business_help .text p {
    line-height: 21px;
    padding-bottom: 37px;
    text-align: justify;
}



/*================================
        ABOUT CSS END
================================*/












/*================================
        SERVICE CSS START
================================*/

.service_part {
    background: #f5f8ff;
}

.single_service {
    /*    background: red;*/
    position: relative;
    margin: 7px 0;
    padding-bottom: 22px;
    padding-top: 8px;
}

.single_service:hover .theme_btn,
.single_service:hover .icon {
    background: var(--btnColor);
    border: 1px solid var(--btnColor);
    color: white;
}

.single_service .icon {
    width: 48px;
    height: 48px;
    line-height: 48px;
    background: var(--themeColor);
    text-align: center;
    border: 1px solid var(--themeColor);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s linear;

}

.single_service .text {
    padding-top: 52px;
}

.single_service .text h3 {
    padding: 26px 0;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--themeColor);
}

.single_service .text p {
    line-height: 21px;
    padding-bottom: 39px;
    text-align: center;
}

/*================================
        SERVICE CSS END
================================*/











/*================================
        WORK CSS START
================================*/

.work_part .section_tittle {
    margin: 0 40px;
}

.work_btn {
    padding-top: 12px;
    padding-bottom: 8px;
    text-align: center;
}

.work_btn button {
    margin: 5px;
}

.work_img {
    margin: 15px 0;
}

.work_img img {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.work_img .overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--overlayColor);
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
}

.work_img:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.overlay_elements a i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: var(--btnColor);
    color: white;
    border-radius: 50%;
    margin: 8px;

}

.overlay_elements h2 {
    text-transform: uppercase;
    font-size: 30px;
    padding: 25px 0;
}

/*================================
        WORK CSS END
================================*/









/*================================
        COUNTERUP CSS START
================================*/

.counterup_area {
    clip-path: polygon(50% 13%, 100% 0, 100% 35%, 100% 100%, 79% 88%, 50% 100%, 20% 90%, 0 100%, 0% 35%, 0 0);
}

.counter_overlay {
    background: var(--overlayColor);
    padding: 80px 0;
    padding-bottom: 70px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.single_counter {
    padding: 8px 0;
}

.single_counter i {
    width: 104px;
    height: 104px;
    line-height: 104px;
    border-radius: 50%;
    background: var(--themeColor);
    margin-bottom: 8px;
}

.single_counter h3 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 24px;
    ;
    padding-top: 45px;
}

.single_counter span {
    font-weight: 400px;
    line-height: 21px;
}

/*================================
        COUNTERUP CSS END
================================*/









/*================================
        TEAM CSS START
================================*/

.single_team {
    border: 1px solid #eaeaea;
    padding: 0 26px;
    padding-top: 30px;
    padding-bottom: 22px;
    margin: 15px 0;
    transition: all .3s linear;
}

.single_team:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    background: #f5f8ff;
}

.team_img {
    width: 128px;
    height: 128px;
    border: 5px solid #eaeaea;
    border-radius: 50%;
    background: #eaeaea;
    display: block;
    overflow: hidden;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

.team_img img {}

.team_text {
    padding-top: 158px;
    color: #666666;
}

.team_icon i {
    height: 29px;
    width: 29px;
    line-height: 29px;
    background: transparent;
    border: 1px solid #070e5c;
    border-radius: 50%;
    margin: 0 3px;
    margin-bottom: 26px;
    color: var(--themeColor);
    transition: all .3s linear;
}

.team_icon i:hover {
    background: var(--btnColor);
    border: 1px solid var(--btnColor);
    color: white;

}

.team_text {}

.team_text h5 {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 22px;
}

.team_text h5.name {
    color: var(--themeColor);
}

.team_text p {
    font-size: 14px;
    line-height: 21px;
    padding-top: 21px;
    color: #666666;
}

/*================================
        TEAM CSS END
================================*/










/*================================
        FEEDBACK CSS START
================================*/

.feedback_area {
    background: #f5f8ff;
}

.feedback_area .section_tittle span:before {
    left: 0;
    transform: translate(0%, -50%);
}

.single_client {
    position: relative;
    margin: 15px 0;
}

.client_img {
    width: 99px;
    height: 99px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    background: #eaeaea;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

}

.review_text {
    padding: 23px 20px 22px 77px;
    border: 1px solid #eaeaea;
    width: calc(100% - 50px);
    margin-left: auto;
    background: white;
}

.review_text p {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 15px;
    color: #666666;
}

.review_text span,
.review_text h5 {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #666666;
}

.review_text h5 {
    color: var(--themeColor);
}

.feedback_area .slick-dots {
    text-align: center;
    padding-top: 5px;
}

.feedback_area .slick-dots li {
    display: inline-block;

}

.feedback_area .slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #f5f5f7;
    background: var(--themeColor);
    margin-right: 6px;
    transition: all .3s linear;
}

.feedback_area .slick-dots li.slick-active button {
    background: var(--btnColor);
}









.faq_area {}

.single_faq {
    padding-bottom: 15px;
}

.faq_header {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;

}

.faq_header button {
    width: 70px;
    height: 70px;
    background: transparent;
    border: 1px solid var(--themeColor);
    position: relative;
}

.faq_header span {
    display: inline-block;
    background: var(--themeColor);
}

.faq_header button span:nth-of-type(1) {
    width: 15px;
    height: 5px;
}

.faq_header button span:nth-of-type(2) {
    width: 5px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    transition: all .3s linear;
}

.faq_header button.active span:nth-of-type(2) {
    height: 16px;
}

.faq_header h4 {
    /*    background-color: red;*/
    text-transform: uppercase;
    color: var(--themeColor);
    font-size: 18px;
    font-weight: 600;
    border: 1px solid var(--themeColor);
    line-height: 68px;
    margin-left: 30px;
    padding-left: 20px;
    width: 86%;
}

.faq_btn {}

.faq_body {
    width: 81.5%;
    border: 1px solid var(--themeColor);
    padding: 25px 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-top: 15px;
}


/*================================
        FEEDBACK CSS END
================================*/









/*================================
        PRICING CSS START
================================*/

.pricing_area {}

.single_price {
    border: 1px solid #eaeaea;
    position: relative;
    transition: all .3s linear;
    margin-bottom: 34px;
    margin-top: 15px;
}

.single_price:hover .price {
    background: var(--btnColor);
}

.single_price h4 {
    font-size: 24px;
    color: var(--themeColor);
    background: #f5f8ff;
    padding-top: 27px;
    padding-bottom: 84px;
}

.price_amount {
    position: relative;
    padding: 45px 0;
}

.price {
    width: 120px;
    height: 120px;
    background: var(--themeColor);
    color: white;
    line-height: 120px;
    border: 5px solid #eaeaea;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 50%);
    transition: all .3s linear;
    font-family: 'Montserrat', sans-serif;
}

.price .amount {
    font-size: 30px;
    font-weight: 600;
}

.price .date {
    font-size: 14px;
    font-weight: 400;
}

.single_price p {
    padding-top: 15px;
    padding-bottom: 10px;
}

.single_price p:nth-child(1),
.single_price p:nth-child(3),
.single_price p:nth-child(5) {
    background: #f5f8ff;
}

.last_price {
    margin-bottom: 48px;
    background: #f5f8ff;
}

.single_price .theme_btn {
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 100%;
    padding: 12px 23px;
    transform: translate(-50%, -50%);
    background: white;
}

.single_price:hover .theme_btn {
    background: var(--btnColor);
    border: 1px solid var(--btnColor);
    color: white;
}


/*================================
        PRICING CSS END
================================*/








/*================================
        MESSAGE CSS START
================================*/

.message_area {
    clip-path: polygon(50% 13%, 100% 0, 100% 35%, 100% 100%, 79% 88%, 50% 100%, 20% 90%, 0 100%, 0% 35%, 0 0);
}

.message_cover {}

.message_overlay {
    background: var(--overlayColor);
    padding: 80px 0;
    padding-bottom: 85px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.message_area .section_tittle h2 {
    color: white;
}

.form_data {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Hind', sans-serif;
    color: white;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ffffff;
    padding: 7px 0;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form_btn.theme_btn {
    color: white;
    background: var(--btnColor);
    margin-top: 15px;
    border: 1px solid var(--btnColor);
    margin-bottom: 15px;
}

.message_area input::placeholder {
    color: white;
}

/*================================
        MESSAGE CSS END
================================*/








/*================================
        NEWS CSS START
================================*/


.single_news {
    transition: all .3s linear;
    margin: 15px 0;
}

.single_news:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.single_news img {}

.news_text {
    padding: 30px;
    font-size: 14px;
    border: 1px solid #eaeaea;
    border-top: 0;
    padding-bottom: 43px;
}

.news_text a {
    color: white;
}

.news_text a:hover {
    color: white;
}

.time_stamp {}

.time_stamp i {
    font-size: 14px;
    margin-right: 6px;
}

.time_stamp span {
    padding-right: 14px;
}

.news_text h4 {
    font-size: 18px;
    font-weight: 600;
    color: var(--themeColor);
    padding: 27px 0;
}

.news_text p {
    line-height: 21px;
    margin-top: -3px;
    padding-bottom: 38px;
}

/*================================
        NEWS CSS END
================================*/










/*================================
        INVOLVEMET CSS START
================================*/

.involvement_area {
    background: #f5f8ff;
}

.involvement_area .section_tittle h2 {
    /*    padding-right: 183px;*/
    font-size: 30px;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 12px;
}

.involvement_area .section_tittle p {
    margin-bottom: -28px;
}

.involvement_area .theme_btn:hover,
.involvement_area .theme_btn {
    color: white;
}

/*================================
        INVOLVEMET CSS END
================================*/










/*================================
        FOOTER CSS START
================================*/

.footer_area {
    background: var(--themeColor);
    color: white;
    border-bottom: 1px solid #ffffff;
}

.footer_content {
    margin-top: 13px;
}

.footer_header {}

.footer_header h4 {
    padding-bottom: 11px;
    position: relative;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.footer_header h4:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 1px;
    left: 0;
    bottom: 0;
    background: white;
}

.footer_elements {
    padding-top: 11px;
    padding-bottom: 10px;
}

.footer_elements p {
    padding-bottom: 23px;
}

.footer_elements span {
    font-size: 14px;
    font-weight: 400;
}

.footer_elements form {
    background: #ffffff;
    padding: 5px;
}

.footer_elements form input {
    width: 50%;
    color: #666666;
    padding-left: 6px;
}

.footer_elements form input.form_data {
    width: 58%;
    border-bottom: 0;
}

.footer_elements form .theme_btn.form_btn {
    margin: 0;
    padding: 10px 14px;
}

.footer_area input::placeholder {
    color: #666666;
}

.footer_icon {
    margin-top: 30px;
}

.footer_icon i {
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    margin-right: 6px;
    transition: all .3s linear;
}

.footer_icon i:hover {
    background: var(--btnColor);
    border: 1px solid var(--btnColor);
}

.footer_elements ul li a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    transition: all .3s linear;
}

.footer_elements ul li a.special {
    font-size: 12px;
}

.footer_elements ul li a i {
    color: white;
    padding-bottom: 16px;
    margin-right: 4px;
}

/*================================
        FOOTER CSS END
================================*/





.footer_bottom {
    background: var(--themeColor);
    color: white;
    padding: 15px 0;
}

.footer_bottom p {
    font-family: 'Montserrat', sans-serif;
    padding-top: 24px;
    padding-bottom: 25px;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.footer_nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    display: inline-block;
    padding: 28px 16px;
}
















/*#####################################
**************************************/
BLOG PAGE CSS START HERE
/**************************************
#####################################*/

.slider_content h1 {
    padding: 100px 0;
    color: red !important;
    background: red;
}


.cetagory_part ul,
.archive_tittle ul {
    margin-top: 22px;
}

.cetagory_part ul li a,
.archive_tittle ul li a {
    font-size: 16px;
    color: var(--themeColor);
    border-bottom: 1px solid var(--themeColor);
    display: block;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: 10px;
    transition: all .3s linear;
    color: var(--themeColor);
}

.archive_tittle ul li a.active,
.archive_tittle ul li a:hover,
.cetagory_part ul li a.active,
.cetagory_part ul li a:hover {
    color: var(--btnColor);
}


.blog_search {
    /*    align-items: center;*/
}

.blog_search button {
    color: white;
    background: var(--btnColor);
    display: flex;
    align-items: center;
    padding: 0 25px;
    border: 0;
}

.blog_search input {
    width: 100%;
    /*    background: blue;*/
    padding: 5px;
}

.single_post {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.post_text {
    padding-left: 15px;
}

.post_text a {
    color: #666666;
    line-height: 20px;
}

.post_text a .date {
    color: var(--themeColor);
    font-weight: 500;
}

/*#####################################
**************************************/
BLOG PAGE CSS ENDS HERE
/**************************************
#####################################*/











/*#####################################
**************************************/
DETAILS PAGE CSS STARTS HERE
/**************************************
#####################################*/

.blogspot {}

.blogspot_head {
    display: flex;
    align-items: center;
}

.time_stamp {
    margin-left: auto;
}

.blog_pera {
    padding-top: 11px;
    padding-bottom: 8px;
}

.blog_qutes {
    background: var(--themeColor);
    margin: 15px 0;
    padding: 30px 65px;
}

.blog_qutes p {
    color: white;
}

.blog_social {
    border: 1px solid var(--themeColor);
    color: var(--themeColor);
    margin: 15px 0;
}

.blog_tags {
    padding: 18px 20px;
    width: 80%;
}

.blog_tags .tag {
    color: var(--btnColor);
}

.blog_links {
    background: var(--themeColor);
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 21%;
    text-align: center;
    padding: 0 20px;
}

.blog_links i {
    color: white;
    flex-grow: 1;

}

.page_btn {
    padding: 15px 0;
    position: relative;
}

.page_btn button {
    width: 130px;
}

.page_btn_r {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.blog_comment {
    padding: 30px 42px;
    display: flex;
    align-items: center;
    color: white;
    margin: 85px 0;
    background: var(--themeColor)
}

.commentor_img {}

.commentor_img img {
    margin-right: 23px;
}

.commentor_text {}

.commentor_text span {
    font-weight: 600;
    color: var(--themeColor);
}

.commentor_text p {
    padding-top: 6px;
    padding-bottom: 22px;
}

.comments_comment {
    padding: 15px 0;
    display: flex;
    align-items: center;
    color: #666666;
}

.comments_form {}

.comments_form textarea,
.comments_form input {
    width: 100%;
    margin: 15px 0;
    border: 1px solid #eaeaea;
    padding: 20px;
    text-align: justify;
}

.comments_form textarea {
    height: 170px;
}

/*#####################################
**************************************/
DETAILS PAGE CSS ENDS HERE
/**************************************
#####################################*/
